@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: blueviolet;
}
.counter {
  font-size: 2rem;
  font-weight: bold;
  /* background-color: chartreuse; */
  margin: 10px auto 0;
}
.container {
  display: flex;
  width: 70%;
  justify-content: space-around;
  /* background-color: burlywood; */
  color: white;
}

.fab {
  font-size: 4rem;
  /* background-color: brown; */
}

.twitter,
.instagram,
.facebook {
  /* background-color: cadetblue; */
  text-align: center;
  margin-bottom: 50px;
}

.container p {
  font-size: 0.8rem;
  margin: 0;
  /* background-color: cadetblue; */
}

@media (max-width: 580px) {
  .container {
    flex-direction: column;
  }
}
